<div style="height:200px;">
	<p>{{message}}</p>
	<label>ID:</label>
	<input ng-model="Talk.id" id="tid" type="text" />
	<br />
	<label>Name:</label>
	<input ng-model="Talk.name" id="tname" type="text" />
	<br />
	<label>Speaker:</label>
	<input ng-model="Talk.speaker" id="tspeaker" type="text" />
	<br />
	<label>Venue:</label>
	<input ng-model="Talk.venue" id="tvenue" type="text" />
	<br />
	<label>Duration:</label>
	<input ng-model="Talk.Duration" id="tduration" type="text" />
	<br /> 
	<input type="button" ng-click="clickit()" value="insert" />
</div>	
